.chatScreenHeader{
    display: flex;
    justify-content: center;
    background-color: pink;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    color: grey;
}

.chatScreenContainer{
    display: grid;
    grid-template-columns: 0fr 100fr;
    background-color:antiquewhite;
}

.chatScreenFooter{
    display: flex;
    height: 60px;
    justify-content: center;
    background-color: pink;
    padding: 20px;
}

.chatScreenButton {
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    margin-right: 20px;
    background-color: #fe3d71;
    font-weight: bolder;
    color: #ffffff;
}

.chatScreenButton:hover{
    color: #fe3d71;
    background-color: #ffffff;
    border-color:#fe3d71;
    transition: background 0.5s ease-in-out;
    cursor: pointer;
}

.chatScreen{
    overflow-y: scroll;
    max-height: 70vh;
}

.chatBubble {
    display: block;
    list-style: none;
    align-items: center;
    padding: 20px;
    margin: 10px;
    background-color: lightgray;
    padding: 15px;
    border-radius: 20px;
}

.chatBubble:hover{
    background-color: #fe3d71;
    transition: background 0.5s ease-in-out;
}