.chatScreenHeader{
    display: flex;
    justify-content: center;
    background-color: pink;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    color: grey;
}

.chatScreenContainer{
    display: grid;
    grid-template-columns: [first] 20% [line2] 75% [line3] 0% [end];
    grid-template-areas: "ingredBubble . chatBubble";
    background-color:rgb(255, 255, 255);
}

.chatScreenFooter{
    display: flex;
    height: 60px;
    justify-content: center;
    background-color: pink;
    padding: 20px;
}

.chatScreenButton {
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    margin-right: 20px;
    background-color: #fe3d71;
    font-weight: bolder;
    color: #ffffff;
}

.chatScreenButton:hover{
    color: #fe3d71;
    background-color: #ffffff;
    border-color:#fe3d71;
    transition: background 0.5s ease-in-out;
    cursor: pointer;
}

.chatScreen{
    overflow-y: scroll;
    max-height: 70vh;
}

.chatBubble {
    grid-column: 2 / span 3;
    justify-self: end;
    display: block;
    list-style: none;
    align-items: center;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 1%;
    background-color: lightgray;
    opacity: 80%;
    padding: 15px;
    border-radius: 20px;
    width: 95%;
}

.chatBubble:hover{
    background-color: #fe3d71;
    transition: background 0.5s ease-in-out;
}

.ingredBubble {
    grid-column: first / span 2;
    justify-self: stretch;
    display: block;
    list-style: none;
    align-items: center;
    padding: 20px;
    margin-right: 15%;
    margin-left: 25%;
    background-color: lightgrey;
    opacity: 100%;
    padding: 15px;
    border-radius: 0px;
    width: 100%;
    text-transform: capitalize;
}

.ingredBubble:hover{
    background-color: #fe3d71;
    transition: background 0.5s ease-in-out;
}

.chatScreenRecipe{
    background-repeat: no-repeat;
    background-size: cover;
}

