

.chatScreenHeader{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    background-color: pink;
}

.chatScreenIntro {
    text-align: center;
    font-size: 20px;
    padding: 20px;
    color: grey;
}

.chatScreenButton {
    position: absolute;
    bottom: 5%;
    border: none;
    font-size: 30px;
    padding: 15px;
    border-radius: 25px;
    margin-right: 20px;
    background-color: #fe3d71;
    font-weight: bolder;
    color: #ffffff;
}

.chatScreenButton:hover{
    color: #fe3d71;
    background-color: #ffffff;
    outline: 20px;
    outline-color: #fe3d71;
}

.chatScreen__textUser {
    margin-left: auto;
    background-color: #29b3cd;
    padding: 15px;
    border-radius: 20px;
    color: white;
}

.chatScreen__input {
    display: flex;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid lightgray;
}

.chatScreen__inputField {
    flex: 1;
    padding: 10px;
    border: none;
}



.chatScreen__message {
    display: flex;
    align-items: center;
    padding: 20px;
}

.chatScreen__text {
    margin-left: 10px;
    background-color: lightgray;
    padding: 15px;
    border-radius: 20px;
}