.chat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 70px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.noMeals {
    text-align: center;
    background-color: pink;
}

.noMealsMessage {
    display: block;
    color: grey;
    font-style: italic;
}

.sadFace {
    display: inline-block;
    align-content: center;
    font-size: large;
}

.chat:hover {
    background-color: #FD3A73;
    border-radius: 25px;
    /* rounds corners */
    padding: 15px;
    /*pushes text away from edge*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 70px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: background 0.5s ease-in-out;
}

.addRecipeButton {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 20px;
    padding: 15px;
    border: none;
    border-radius: 25px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #fe3d71;
    font-weight: bolder;
    color: #ffffff;
}

.addRecipeButton:hover {
    position: absolute;
    font-size: 20px;
    padding: 15px;
    border: 1px solid #ffdae4;
    border-radius: 25px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: #ffffff;
    font-weight: bolder;
    color: #fe3d71;
    transition: background 0.5s ease-in-out;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

.chat__details {
    flex: 1;
}

.chat__details>p {
    color: gray;
}

.chat__image {
    margin-right: 20px;
}