.card {
    position: relative;
    width: 600px;
    padding: 20px;
    max-width: 85vw;
    /* height below is vh: View Height. Responsive to device. */
    height: 50vh;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
}

.tinderCardsContainer {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.mealInfo {
    position: absolute;
    bottom: 3%;
    left: 3%;
    right: 3%; /*sets position relative to tinderCardContainer*/
    text-align:center;
    background-color: #ffffff; /*backup for older browsers*/
    background-color: rgba(255,255,255,0.75); /*rgba used to achieve opacity*/
    color: #424242;
    border-radius: 25px; /* rounds corners */
    padding: 15px; /*pushes text away from edge*/
}

.summary{
    color: #FD3A73;
    font-style: italic;
    text-align: center;
    list-style: none; /*removes bullet points*/
    padding: 0px; /*removes automatic offset*/
}

.swipe {
    position: absolute;
}